extends layouts/application

block variables
  - var pageTemplate = 'home'
  - var pageTitle = 'Home'

block footerScripts

block content
  section.splash
    .splash__container
      img.splash__logo(src="//placehold.it/200x120")
      h1.splash__headline Connect with your community.
      h2.splash__tagline A better way to find and post all LGBTQ events.
      a.btn.btn--filled.btn--filled-white(href="#") GET INVITED
  section.screenshots
    .screenshots__container
      img(src="//placehold.it/1920x1080")