extends layouts/application

block variables
  - var pageTemplate = 'home'
  - var pageTitle = 'Home'

block footerScripts

block content
  section.splash
    .splash__container
      img.splash__logo(src="//placehold.it/200x120")
      h1.splash__headline Connect with your community.
      h2.splash__tagline A better way to find and post all LGBTQ events.
      a.btn.btn--filled.btn--filled-white(href="#") GET INVITED
  section.screenshots
    .screenshots__container
      include ../assets/images/svg/ui-desktop-iphone.svg
  section.about-us
    .about-us__container
      .about-us__row
        .callout
          h2.callout__title Together we can <br>connect, build, and grow.
          p.callout__description SeekOut is a website that helps bring the entire LGBTQ community together. From family events, fundraisers, sports, music, art and more — it's all here. Our goal is to provide more awareness and participation for all events.
      .about-us__row
        .about-us__screenshots
          include ../assets/images/svg/ui-iphones.svg
        .callout
          h2.callout__title Find, share, meet.
          p.callout__description It’s all about you and what you want to do. Whether you’re a local or traveler, discover LGBTQ events that connect you with people who share your interests. All in one place.
      .about-us__row
        ul.icon-list
          - for (var i=0; i<3; i++)
            li.icon-list__item
              img.icon-list__icon(src="//placehold.it/50x50/444/333")
              h2.icon-list__title EVENTS FOR EVERYONE
              p.icon-list__description Find every type of LGBTQ event. Simply search by location, type, or date — anytime, anywhere!