extends layouts/application

block variables
  - var pageTemplate = 'home'
  - var pageTitle = 'Home'

block footerScripts

block content
  header.splash
    .splash__container
      include ../assets/images/svg/logo-seekout.svg
      h1.splash__headline Connect with your community.
      h2.splash__tagline A better way to find and post <em>all</em> LGBTQ events.
      a.btn.btn--filled.btn--filled-white(href="#") GET INVITED
  section.screenshots.screenshots--01
    .screenshots__container
      img(src="assets/images/svg/ui-desktop-iphone.svg")
  section.about-us
    .about-us__container
      .about-us__row
        .callout
          h2.callout__title Together we can <br>connect, build, and grow.
          p.callout__description SeekOut is a website that helps bring the entire LGBTQ community together. From family events, fundraisers, sports, music, art and more — it's all here. Our goal is to provide more awareness and participation for all events.
      .about-us__row
        .about-us__screenshots
          img(src="assets/images/svg/ui-iphones.svg")
        .about-us__callout.callout
          h2.callout__title Find, share, meet.
          p.callout__description It’s all about you and what you want to do. Whether you’re a local or traveler, discover LGBTQ events that connect you with people who share your interests. All in one place.
      .about-us__row
        ul.icon-list
          - for (var i=0; i<3; i++)
            li.icon-list__item
              img.icon-list__icon(src="//placehold.it/50x50/444/333")
              h2.icon-list__title EVENTS FOR EVERYONE
              p.icon-list__description Find every type of LGBTQ event. Simply search by location, type, or date — anytime, anywhere!
  section.post-your-event
    .post-your-event__container
      .callout.callout--white
        h2.callout__title Post your event. It’s fast, easy, <strong>free!</strong>
        p.callout__description Organizing a public LGBTQ event? <br>SeekOut allows you to quickly create and share your event with everyone. <br>We’re basically the online word-of-mouth for your event.
  section.screenshots.screenshots--02
    .screenshots__container
      img(src="assets/images/svg/ui-iphones-trio.svg")
  section.why
    .why__container
      ul.icon-list
        - for (var i=0; i<3; i++)
          li.icon-list__item
            img.icon-list__icon(src="//placehold.it/50x50/444/333")
            h2.icon-list__title SAVE TIME &amp; MONEY
            p.icon-list__description Start saving on printing, distribution, and advertising with limited reach. Put money saved towards your event.
  section.testimonials
    .testimonials__container
      h2.testimonials__title We’re making something great. Here’s why...
      .testimonials__slider.slider
        .slider__slide
          blockquote.testimonials__blockquote “I often travel to other cities and have a hard time finding queer events that I’m interested in. Also, when I search for stuff online, the events are usually out-of-date or not accurate.”
            cite Michelle, 42 | Event-goer
  section.the-community
    .the-community__container
      .callout.callout--white
        h2.callout__title Made for the community by the community.
        p.callout__description We’re currently building and will be launching soon in San Francisco! <br>Don’t worry — many other cities coming, too :)
  section.newsletter
    .newsletter__container
      .callout
        h2.callout__title Be a part of it.
        p.callout__description Get invited to receive early access and updates. <br>We’re all in this together. Let's connect, build, and grow our communities.
      form.mailform
        input.mailform__input.mailform__input--text(type="text")
        input.mailform__input.mailform__input--submit.btn.btn--filled.btn--filled-turq(type="submit" value="INVITE ME")

  footer.footer
    .footer__container
      include ../assets/images/svg/logo-seekout.svg
      p © 2016 SeekOut. All rights reserved. Created with <span class="unicode">♥</span> in San Francisco, California.
      p Contact us: <a href="mailto:hello@seekout.co">hello@seekout.co</a>
      .social-links
        h3.social-links__title Share this page:
        ul.social-links__list
          li: a(href="#") FB
          li: a(href="#") TW