.btn {
  display: inline-block;
  border-radius: 4px;
  text-decoration: none;
  &--filled {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .05rem;
    padding: $column-gutter calc($column-gutter*3);
    transition: all 150ms ease-out;
    &-white {
      background-color: #fff;
      color: $c-body-font;
      &,
      &:focus {
        box-shadow: 0 2px 0 0 color(#000 a(.25));
      }
    }
    &-turq  {
      background-color: $c-turq;
      color: #fff;
      &,
      &:focus {
        box-shadow: 0 2px 0 0 color(#000 a(.125));
      }
    }
    &:active {
      transform: translateY(1.5px);
      box-shadow: none;
    }
  }
}