.callout {
  &__title {
    margin-top: 0;
  }
  &__description {
    margin-bottom: 0;
    color: $c-body-font--light;
    .callout--white & { color: #fff; }
  }
}

@media (--mobile-max) {
  .callout {
    br {
      display: none;
    }
  }
}

@media (--mobile) {
  .callout {
    &__title {
      font-size: 2.5rem;
    }
    &__description {
      font-size: 1.25rem;
    }
  }
}