.slider {
  position: relative;
  &__slide {
    outline: none;
  }
  .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 200;
    cursor: pointer;
    &:first-of-type {
      left: 0;
      transform: scaleX(-1) translateY(-50%);
    }
    &:last-of-type  {
      right: 0;
      transform: translateY(-50%);
    }
  }
  .slick-dots {
    margin: $column-gutter 0 0;
    padding: 0;
    list-style: none;
    li {
      position: relative;
      display: inline-block;
      margin: 0 5px;
      padding: 0;
      cursor: pointer;
      &.slick-active button { background-color: $c-slider-pag-dots; }
    }
    button {
      text-indent: -9999px;
      display: block;
      width: 15px;
      height: 15px;
      cursor: pointer;
      color: transparent;
      border: 2px solid $c-slider-pag-dots;
      outline: none;
      background-color: #fff;
      border-radius: 50%;
    }
  }
  .slick-list {
    transition: height 500ms ease-out;
  }
  &:not(.slick-initialized) {
    .slider__slide {
      &:first-of-type {
        position: relative;
        > * {
          opacity: .25;
        }
        &:after {
          content: "";
          position: absolute;
          top: calc(50% - 15px);
          left: calc(50% - 15px);
          width: 30px;
          height: 30px;
          border-radius: 50%;
          border: 5px solid color(#000 tint(25%));
          border-bottom-color: $c-turq;
          animation: spin 1s infinite;
        }
      }
      &:not(:first-of-type) {
        display: none;
      }
    }
  }
}