$column-gutter:                1rem;
@lost gutter $column-gutter;

$body-font-family:             "Open Sans","Helvetica Neue", Helvetica, sans-serif;

$c-body-font:                  #333;
$c-body-font--light:           #444;
$c-turq:                       #009688;
$c-gray--light:                #ebebeb;
$c-slider-pag-dots:            #888;

$row-width:                    940px;
$row-width-max:                939px;
$mobile-width:                 768px;
$mobile-width-max:             767px;

@custom-media --row        screen and (min-width: $row-width);
@custom-media --row-max    screen and (max-width: $row-width-max);
@custom-media --mobile     screen and (min-width: $mobile-width);
@custom-media --mobile-max screen and (max-width: $mobile-width-max);