.about-us {
  position: relative;
  padding: 0 calc($column-gutter*2) calc($column-gutter*2);
  background-image: url("../images/svg/bg-angles.svg");
  background-repeat: no-repeat;
  background-position: top;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    background-color: $c-gray--light;
  }
  &__container {
    position: relative;
    z-index: 120;
    lost-center: $row-width;
  }
  &__row {
    lost-utility: clearfix;
  }
}

@media (--mobile-max) {
  $local--spacingTop: calc($column-gutter*14);
 .about-us {
    background-size: 100% 35rem;
    overflow: hidden;
    background-position: center $local--spacingTop;
    &:before {
      height: $local--spacingTop;
    }
    &__row {
      &:nth-of-type(2),
      &:nth-of-type(3) {
        padding-left: 0;
        padding-right: 0;
      }
      &:nth-of-type(2) {
        margin-top: calc($column-gutter*3);
      }
    }
    &__screenshots {
      text-align: center;
      margin-bottom: calc(-$column-gutter*2);
      width: calc(100% + $column-gutter*4.5);
      transform: translateX(-$column-gutter);
      pointer-events: none;
    }
  }
}

@media (--mobile) {
  $local--spacingTop: calc($column-gutter*10);
 .about-us {
    background-size: 100% 80rem;
    background-position: center $local--spacingTop;
    padding-bottom: calc($column-gutter*4);
    &:before {
      height: $local--spacingTop;
    }
    &__row {
      &:nth-of-type(2),
      &:nth-of-type(3) {
        padding-left: calc($column-gutter*4);
        padding-right: calc($column-gutter*4);
      }
      &:nth-of-type(2) {
        margin-top: calc($column-gutter*4);
      }
    }
  }
}

@media (--row-max) {
  .about-us {
    &__callout {
      margin-bottom: calc($column-gutter*4);
    }
  }
}

@media (--row) {
  $local--spacingTop: calc($column-gutter*12);
  .about-us {
    padding-bottom: calc($column-gutter*6);
    background-size: 100% 25rem;
    background-position: center $local--spacingTop;
    &:before {
      height: $local--spacingTop;
    }
    &__row {
      &:nth-of-type(2),
      &:nth-of-type(3) {
        padding-left: 0;
        padding-right: 0;
      }
      &:nth-of-type(1) {
        div {
          max-width: 640px;
        }
      }
      &:nth-of-type(2) {
        display: flex;
        align-items: center;
        margin-top: calc($column-gutter*6);
        padding-left: 0;
        padding-right: 0;
        div {
          lost-column: 1/2 2 0;
        }
      }
    }
  }
}