.post-your-event {
  padding: calc($column-gutter*2);
  background-image:
    radial-gradient(circle at bottom right, #02fd5c, color(#02fd5c a(0))),
    radial-gradient(circle at bottom left, #025cfd, color(#025cfd a(0))),
    radial-gradient(circle at top left, #fd01a3, color(#fd01a3 a(0))),
    radial-gradient(circle at top right, #fda301, color(#fda301 a(0)));
  background-blend-mode: overlay;
  color: #fff;
  &__container {
    lost-center: $row-width;
  }
}

@media (--mobile) {
  .post-your-event {
    padding-top: calc($column-gutter*4);
    padding-bottom: calc($column-gutter*32);
    text-align: center;
  }
}

@media (--row-max) {
  .post-your-event {
    &__callout {
      margin-bottom: calc($column-gutter*4);
    }
  }
}

@media (--row) {
  .post-your-event {
    padding-top: calc($column-gutter*6);
    padding-bottom: calc($column-gutter*36);
  }
}