.post-your-event {
  padding: calc($column-gutter*2);
  background-image:
    linear-gradient( 315deg, #fd01a3, color(#fd01a3 a(0)) ),
    linear-gradient( 225deg, #025cfd, color(#025cfd a(0)) ),
    linear-gradient( 45deg, color(#FFA12F a(1)), color(#FFA12F a(0)) ),
    linear-gradient( 135deg, color(#02fd5c a(.5)), color(#02fd5c a(0)) );
  background-blend-mode: overlay;
  color: #fff;
  &__container {
    lost-center: $row-width;
  }
}

@media (--mobile) {
  .post-your-event {
    padding-top: calc($column-gutter*4);
    padding-bottom: calc($column-gutter*32);
    text-align: center;
  }
}

@media (--row-max) {
  .post-your-event {
    &__callout {
      margin-bottom: calc($column-gutter*4);
    }
  }
}

@media (--row) {
  .post-your-event {
    padding-top: calc($column-gutter*6);
    padding-bottom: calc($column-gutter*36);
  }
}