.screenshots {
  position: relative;
  padding: 0 calc($column-gutter*2);
  &:after {
    content: "";
    background-color: $c-gray--light;
    position: absolute;
    left: 0;
    width: 100%;
  }
  &__container {
    lost-center: $row-width;
  }
  img {
    position: relative;
    z-index: 100;
  }
  &--01 {
    img {
      width: 108.25%;
      height: auto;
    }
  }
  &--02 {
    background-image: url("../images/svg/bg-angles-02.svg");
    background-repeat: no-repeat;
    background-position: top;
    img {
      width: 107.5%;
      height: auto;
    }
  }
}

@media (--mobile-max) {
  .screenshots {
    &--01 {
      margin-top: calc(-$column-gutter*6);
      &:after {
        top: 6rem;
        height: calc(100% - 6rem);
      }
    }
  }
}

@media (--mobile) {
  .screenshots {
    &--01 {
      margin-top: calc(-$column-gutter*12);
      &:after {
        top: 12rem;
        height: calc(100% - 12rem);
      }
    }
    &--02 {
      background-size: 100% 26rem;
      background-position: center 8rem;
      margin-top: -26rem;
      &:after {
        bottom: 0;
        z-index: -1;
        height: 20rem;
      }
    }
  }
}

@media (--row) {
  .screenshots {
    &--02 {
      background-size: 100% 30rem;
      background-position: center 8rem;
      margin-top: -28rem;
    }
  }
}