.splash {
  height: 100vh;
  min-height: 768px;
  padding: calc($column-gutter*2);
  background:
    radial-gradient(circle at top left,#02fd5c,transparent),
    radial-gradient(circle at top right,#025cfd,transparent),
    radial-gradient(circle at bottom left, #fda301,transparent),
    radial-gradient(circle at bottom right, #fd01a3,transparent);
  background-blend-mode: overlay;
  color: #fff;
  text-align: center;
  &__container {
    lost-center: $row-width;
  }
  &__headline,
  &__tagline {
    line-height: 1;
  }
  &__headline {
    font-size: 1.5rem;
    margin: $column-gutter 0;
  }
  &__tagline {
    font-size: 1rem;
    margin: 0 0 calc($column-gutter*2);
  }
}

@media (--mobile) {
  .splash {
    &__headline {
      font-size: 3rem;
      margin-top: calc($column-gutter*3);
      margin-bottom: calc($column-gutter*1.5);
    }
    &__tagline {
      font-size: 1.5rem;
      margin-bottom: calc($column-gutter*4);
    }
  }
}