.splash {
  padding: calc($column-gutter*2);
  background: linear-gradient(145deg, #c62828, #d91b5c, #9c27b0, #3f51b5, #1976d2, #009688, #689f38, #ef6c00);
  background-size: 1600% 1600%;
  animation: gradientTransition 30s ease infinite;
  color: #fff;
  text-align: center;
  &__container {
    lost-center: $row-width;
  }
  .logo-seekout {
    width: 160px;
    height: 99px;
    path {
      fill: #fff;
    }
  }
  &__headline {
    font-size: 1.25rem;
    margin: $column-gutter 0;
  }
  &__tagline {
    font-size: .85rem;
    margin: 0 0 calc($column-gutter*2);
    em {
      font-style: italic;
      border-bottom: 2px solid #fff;
    }
  }
}

@media (--mobile-max) {
  .splash {
    padding-bottom: calc($column-gutter*8);

  }
}
@media (--mobile) {
  .splash {
    padding-top: calc($column-gutter*4);
    padding-bottom: calc($column-gutter*16);
    &__headline {
      font-size: 3rem;
      margin-top: calc($column-gutter*3);
      margin-bottom: calc($column-gutter*1.5);
    }
    &__tagline {
      font-size: 1.5rem;
      margin-bottom: calc($column-gutter*4);
    }
  }
}