.the-community {
  padding: calc($column-gutter*2) calc($column-gutter*2) calc($column-gutter*16);
  text-align: center;
  background-image: url("../images/bg-gradient-city.jpg");
  background-size: cover;
  background-position: 80% center;
  color: #fff;
  &__container {
    lost-center: $row-width;
  }
}

@media (--mobile) {
  .the-community {
    padding-top: calc($column-gutter*4);
    padding-left: calc($column-gutter*4);
    padding-right: calc($column-gutter*4);
    padding-bottom: calc($column-gutter*26);
  }
}

@media (--row) {
  .the-community {
    background-position: center center;
    padding-top: calc($column-gutter*6);
    padding-bottom: calc($column-gutter*36);
  }
}