.why {
  padding: 0 calc($column-gutter*2) calc($column-gutter*2);
  background-color: $c-gray--light;
  &__container {
    lost-center: $row-width;
  }
}
@media (--uiIphone) {
  .why {
    /* padding-top: calc($column-gutter*4); */
  }
}

@media (--mobile) {
  .why {
    padding-left: calc($column-gutter*8);
    padding-right: calc($column-gutter*8);
    padding-bottom: calc($column-gutter*4);
  }
}
@media (--row) {
  .why {
    /* padding-top: calc($column-gutter*8); */
    padding-bottom: calc($column-gutter*6);
  }
}