block variables
  - var pageTemplate = 'default'
  - var siteName = 'SeekOut'
  - var pageTitle = 'SeekOut – A better way to find and post all LGBTQ events'
  - var metadataURL = 'https://seekout.github.io/seekout-site/'
  - var metadataImage = 'https://seekout.github.io/seekout-site/assets/images/og-image.jpg'
  - var metadataDescription = 'SeekOut is a website that helps bring the entire LGBTQ community together. From family events, fundraisers, sports, music, art and more — it’s all here. Our goal is to provide more awareness and participation for all events.'
  - var twitterHandle = '@SeekOutLGBTQ'

doctype html
html.no-js(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= pageTitle
    script.
      if (typeof Array.from === 'undefined') {
        var es6Script = document.createElement('script');
        es6Script.async = false;
        es6Script.src = 'assets/js/vendor/babel-es6-polyfill.js';
        document.head.appendChild(es6Script);
      }
    script.
      var doc = document.documentElement;
      doc.setAttribute('data-useragent', navigator.userAgent);
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600" rel="stylesheet")
    link(rel="stylesheet" href="assets/css/app.css")
    include ../shared/metadata-social
  body(data-template=pageTemplate)
    block content
    script(src="assets/js/vendor/jquery.min.js")
    script(src="assets/js/vendor/slick.min.js")
    block footerScripts
    script(src="assets/js/app.js")